.auth-form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-form__input{
    
}

.auth-form__form{
    max-width: 360px; 
}